rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function isKnownUser() {
      return isAuthenticated()
          && exists( /databases/$(database)/documents/users/$(request.auth.uid) );
    }

    function isAuthenticated() {
      return request.auth.uid !=null;
    }

    function isSizeAllowed() {
      return 5 * 1024 * 1024 <= request.resource.size;
    }

    match /courses/{courseId}/{fileName} {
      allow read;
      allow write: if isKnownUser() && isSizeAllowed();
    }
  }
}
